@font-face {
    font-family: BrandonGrotesque-Bold;
    src: url("../fonts/BrandonGrotesque/Brandon_bld.otf");
}

@font-face {
    font-family: BrandonGrotesque-Black;
    src: url('../fonts/BrandonGrotesque/Brandon_blk.otf');
}

@font-face {
    font-family: BrandonGrotesque-Light;
    src: url('../fonts/BrandonGrotesque/Brandon_light.otf');
}

@font-face {
    font-family: BrandonGrotesque-Regular;
    src: url('../fonts/BrandonGrotesque/Brandon_reg.otf');
}

@font-face {
    font-family: 'PT_Serif-Web-Regular';
    src: url('../fonts/PT_Serif/PT_Serif-web-fonts/pt_serif-web-regular-webfont.woff') format('woff'), url('../fonts/PT_Serif/PT_Serif-web-fonts/PT_Serif-Web-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'PT_Serif-Web-Bold';
    src: url('../fonts/PT_Serif/PT_Serif-web-fonts/pt_serif-web-bold-webfont.woff') format('woff'), url('../fonts/PT_Serif/PT_Serif-web-fonts/PT_Serif-Web-Bold.ttf') format('truetype');
}

/*----------------------------------------------------all*/
img {
    object-fit: cover;
}

.top-0 {
    top: 0 !important;
}

button:focus {
    outline: none;
}

.title {
    font-family: BrandonGrotesque-Black;
    font-size: 44pt;
}

span.line_short {
    width: 3%;
    border: 2px solid #e79c14;
}

.line_truncate {
    overflow: hidden;
    display: -webkit-box;
    font-family: PT_Serif-Web-Regular;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

/*----------------------------------------------------all*/

/*----------------------------------------------------home, explore*/
.carousel-btn {
    border-radius: 0;
    background-color: #ffffff00;
    color: #956b55;
    border: 2px solid #956b55c4;
    font-weight: 500;

    &:hover {
        background-color: #956b55;
        color: #ffffff;
    }
}

/*----------------------------------------------------home, explore*/
.menu_content_navbar {
    background-color: #222222;
}

@media (min-width: 300px) {
    /*----------------------------------------------------click hamburger menu show menu and click close*/
    .menu__content {
        .overlay {
            height: 0;
            width: 100%;
            top: 0;
            left: 0;
            background-color: #e5e1d1;
            overflow-y: hidden;
            transition: 0.5s;
            z-index: 9999;

            .overlay-content {
                top: 5%;
                text-align: center;

                a {
                    font-size: 2.2em;
                    transition: 0.3s;
                    font-family: BrandonGrotesque-Bold;
                    display: block;
                    color: #000000;

                    &:hover {
                        &:after {
                            opacity: 1;
                            -webkit-transform: scale(1);
                            transform: scale(1);
                        }
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        width: 65px;
                        border: 2px solid;
                        opacity: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                        transition: opacity 0.35s, transform 0.35s;
                        -webkit-transform: scale(0, 1);
                        transform: scale(0, 1);
                    }

                    &#menu--home:after, &#menu--event:after {
                        border-color: #7DCECF;
                    }

                    &#menu--highlights:after, &#menu--tickets:after {
                        border-color: #3BB656;
                    }

                    &#menu--timeline:after, &#menu--shop:after {
                        border-color: #9866AA;
                    }

                    &#menu--exhibits:after, &#menu--museum:after {
                        border-color: #EE3926;
                    }

                    &#menu--testimonials:after {
                        border-color: #2A479C;
                    }

                    &#menu--abouts:after {
                        border-color: #BEC5C9;
                    }

                    &#menu--maps:after {
                        border-color: #FFF200;
                    }
                }

                svg {
                    &.fa-circle {
                        font-size: 10px;
                        margin: 0 5px;
                    }

                    &:last-child {
                        font-size: 2em;
                        height: 20px;
                        margin: 0 0 0 10px;
                    }
                }
            }

            .overlay-content2 {
                a {
                    font-size: 1.66em;
                }
            }
        }

        .close_btn {
            top: 0;
            height: 50px;
            color: #000000;

            .close {
                span {
                    font-size: 50px;
                }
            }
        }
    }

    /*----------------------------------------------------click hamburger menu show menu and click close*/

    /*----------------------------------------------------home content*/
    .home__content {
        .carousel-text {
            position: absolute;
            margin: auto 11.7%;
            line-height: 63px;
            font-family: BrandonGrotesque-Bold;

            p {
                &:first-child {
                    font-size: 4.16em;
                    width: 500px;
                }

                &:nth-child(3) {
                    font-size: 2.16em;
                    font-family: BrandonGrotesque-Light;
                    color: #b1b1b0;
                }
            }

            .carousel-text--straight {
                width: 252px;
                border: 1px solid #ffffff;
            }
        }

        .carousel-control-next, .carousel-control-prev {
            width: 5%;
        }

        .carousel-control-prev-icon {
            background-image: url(../images/timeline_img/prev_arrow.png);
            height: 50px;
            width: 30px;
        }

        .carousel-control-next-icon {
            background-image: url(../images/timeline_img/next_arrow.png);
            height: 50px;
            width: 30px;
        }
    }

    /*----------------------------------------------------home content*/

    /*----------------------------------------------------explore content*/
    .explore__content {
        .explore__left__title {
            font-size: 2.3em;
            font-family: BrandonGrotesque-Regular;
        }

        .explore__left__straight {
            border: 1px solid #bfa699;
            width: 170px;
        }

        .explore__left__content {
            font-family: PT_Serif-Web-Regular;
            font-size: 1.58em;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 7;
            -webkit-box-orient: vertical;
        }

        .explore__slider {
            margin-right: 4rem;

            .slick-slide {
                height: 150px;

                img {
                    object-fit: contain;
                }
            }
        }
    }

    /*----------------------------------------------------explore content*/

    /*----------------------------------------------------highlight content*/
    .highlights__content {
        .highlights__head__img {
            height: 160px;
        }

        .head__text {
            top: 0;
            background-color: #ffffff6e;

            .highlight--title {
                font-size: 3.67em;
                font-family: BrandonGrotesque-Black;
                margin-bottom: -9px;
            }

            .line {
                border-bottom: 2px solid #e79c14;
                width: 50px;
            }
        }

        .highlight__body {
            background-color: #e5e1d1;

            .highlight_slider {
                .slick-list {
                    padding: 3rem 0;
                    //margin: 0 3rem;
                    .slick-track {
                        .slick-slide {
                            .highlight__slider__img {
                                overflow: hidden;
                                height: 250px;
                                width: 250px;

                                .highlight__slider__content {
                                    background: #a98a7b96;
                                    top: 0;
                                    left: 0;
                                    transition: 0.5s;
                                    transform: scale3d(1, 1, 1);

                                    &:hover {
                                        background: #0000002b;
                                        color: #fff;
                                        cursor: pointer;
                                        transition: 0.5s;
                                        transform: scale3d(1.15, 1.15, 1.15);
                                    }

                                    p:first-child {
                                        font-size: 1.48em;
                                        font-family: BrandonGrotesque-Bold;
                                        line-height: 12px;
                                    }

                                    .highlight__slider__content__line {
                                        border: 1px solid;
                                        width: 61%;
                                        margin: 0 auto;
                                    }

                                    p:last-child {
                                        font-size: 0.66em;
                                        font-family: PT_Serif-Web-Regular;
                                        margin-top: 10px;
                                        line-height: 7px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /*----------------------------------------------------highlight content*/

    /*----------------------------------------------------timeline content*/
    .timeline__content {
        background: #e5e1d1;

        .timeline__title {
            font-size: 3.67em;
            font-family: BrandonGrotesque-Black;
            margin-bottom: -9px;
        }

        .line {
            border-bottom: 2px solid #e79c14;
            width: 50px;
        }
    }
    /*----------------------------------------------------timeline content*/

    .map {
        .map_content {
            background: black;
            opacity: 0.8;
            font-size: 20pt;
            position: absolute;
        }
    }
}

@media (max-width: 576px) {
    .carousel-text {
        p:first-child {
            line-height: 40px !important;
            font-size: 2em !important;
            width: auto !important;
        }

        p:nth-child(3) {
            font-size: 1em !important;
        }
    }

    .highlights__content {
        .head__text {
            .highlight--title, .timeline--content .timeline--title {
                font-size: 3em;
            }
        }
    }

    .highlights__content .highlight__body .highlight_slider .slick-list .slick-track .slick-slide .highlight__slider__img {
        height: 150px;
        width: 150px;
    }

    .title {
        font-family: BrandonGrotesque-Black;
        font-size: 30pt;
    }

    span.line_short {
        width: 20%;
        border: 2px solid #e79c14;
    }

    .map {
        .map_content {
            position: unset;
        }
    }
}

@media (max-width: 992px) {
    /*----------------------------------------------------explore content*/
    .explore__content {
        .explore__left__title {
        }

        .explore__left__straight {
        }

        .explore__left__content {
        }

        .explore__slider {
            margin-right: 0;

            .slick-slide {
                img {
                }
            }
        }
    }

    /*----------------------------------------------------explore content*/

    #timeline_search {
        right: auto;
    }

    #time_scoll, .tl-timenav .tl-timenav-line {
        display: none;
    }
}
