@font-face {
  font-family: BrandonGrotesque-Bold;
  src: url("../fonts/BrandonGrotesque/Brandon_bld.otf"); }

@font-face {
  font-family: BrandonGrotesque-Black;
  src: url("../fonts/BrandonGrotesque/Brandon_blk.otf"); }

@font-face {
  font-family: BrandonGrotesque-Light;
  src: url("../fonts/BrandonGrotesque/Brandon_light.otf"); }

@font-face {
  font-family: BrandonGrotesque-Regular;
  src: url("../fonts/BrandonGrotesque/Brandon_reg.otf"); }

@font-face {
  font-family: 'PT_Serif-Web-Regular';
  src: url("../fonts/PT_Serif/PT_Serif-web-fonts/pt_serif-web-regular-webfont.woff") format("woff"), url("../fonts/PT_Serif/PT_Serif-web-fonts/PT_Serif-Web-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'PT_Serif-Web-Bold';
  src: url("../fonts/PT_Serif/PT_Serif-web-fonts/pt_serif-web-bold-webfont.woff") format("woff"), url("../fonts/PT_Serif/PT_Serif-web-fonts/PT_Serif-Web-Bold.ttf") format("truetype"); }

/*----------------------------------------------------all*/
img {
  -o-object-fit: cover;
  object-fit: cover; }

.top-0 {
  top: 0 !important; }

button:focus {
  outline: none; }

.title {
  font-family: BrandonGrotesque-Black;
  font-size: 44pt; }

span.line_short {
  width: 3%;
  border: 2px solid #e79c14; }

.line_truncate {
  overflow: hidden;
  display: -webkit-box;
  font-family: PT_Serif-Web-Regular;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical; }

/*----------------------------------------------------all*/
/*----------------------------------------------------home, explore*/
.carousel-btn {
  border-radius: 0;
  background-color: #ffffff00;
  color: #956b55;
  border: 2px solid #956b55c4;
  font-weight: 500; }
  .carousel-btn:hover {
    background-color: #956b55;
    color: #ffffff; }

/*----------------------------------------------------home, explore*/
.menu_content_navbar {
  background-color: #222222; }

@media (min-width: 300px) {
  /*----------------------------------------------------click hamburger menu show menu and click close*/
  .menu__content .overlay {
    height: 0;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #e5e1d1;
    overflow-y: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    z-index: 9999; }
    .menu__content .overlay .overlay-content {
      top: 5%;
      text-align: center; }
      .menu__content .overlay .overlay-content a {
        font-size: 2.2em;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        font-family: BrandonGrotesque-Bold;
        display: block;
        color: #000000; }
        .menu__content .overlay .overlay-content a:hover:after {
          opacity: 1;
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1); }
        .menu__content .overlay .overlay-content a:after {
          content: '';
          position: absolute;
          width: 65px;
          border: 2px solid;
          opacity: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.35s, -webkit-transform 0.35s;
          -o-transition: opacity 0.35s, transform 0.35s;
          transition: opacity 0.35s, transform 0.35s;
          transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
          -webkit-transform: scale(0, 1);
          -ms-transform: scale(0, 1);
          transform: scale(0, 1); }
        .menu__content .overlay .overlay-content a#menu--home:after, .menu__content .overlay .overlay-content a#menu--event:after {
          border-color: #7DCECF; }
        .menu__content .overlay .overlay-content a#menu--highlights:after, .menu__content .overlay .overlay-content a#menu--tickets:after {
          border-color: #3BB656; }
        .menu__content .overlay .overlay-content a#menu--timeline:after, .menu__content .overlay .overlay-content a#menu--shop:after {
          border-color: #9866AA; }
        .menu__content .overlay .overlay-content a#menu--exhibits:after, .menu__content .overlay .overlay-content a#menu--museum:after {
          border-color: #EE3926; }
        .menu__content .overlay .overlay-content a#menu--testimonials:after {
          border-color: #2A479C; }
        .menu__content .overlay .overlay-content a#menu--abouts:after {
          border-color: #BEC5C9; }
        .menu__content .overlay .overlay-content a#menu--maps:after {
          border-color: #FFF200; }
      .menu__content .overlay .overlay-content svg.fa-circle {
        font-size: 10px;
        margin: 0 5px; }
      .menu__content .overlay .overlay-content svg:last-child {
        font-size: 2em;
        height: 20px;
        margin: 0 0 0 10px; }
    .menu__content .overlay .overlay-content2 a {
      font-size: 1.66em; }
  .menu__content .close_btn {
    top: 0;
    height: 50px;
    color: #000000; }
    .menu__content .close_btn .close span {
      font-size: 50px; }
  /*----------------------------------------------------click hamburger menu show menu and click close*/
  /*----------------------------------------------------home content*/
  .home__content .carousel-text {
    position: absolute;
    margin: auto 11.7%;
    line-height: 63px;
    font-family: BrandonGrotesque-Bold; }
    .home__content .carousel-text p:first-child {
      font-size: 4.16em;
      width: 500px; }
    .home__content .carousel-text p:nth-child(3) {
      font-size: 2.16em;
      font-family: BrandonGrotesque-Light;
      color: #b1b1b0; }
    .home__content .carousel-text .carousel-text--straight {
      width: 252px;
      border: 1px solid #ffffff; }
  .home__content .carousel-control-next, .home__content .carousel-control-prev {
    width: 5%; }
  .home__content .carousel-control-prev-icon {
    background-image: url(../images/timeline_img/prev_arrow.png);
    height: 50px;
    width: 30px; }
  .home__content .carousel-control-next-icon {
    background-image: url(../images/timeline_img/next_arrow.png);
    height: 50px;
    width: 30px; }
  /*----------------------------------------------------home content*/
  /*----------------------------------------------------explore content*/
  .explore__content .explore__left__title {
    font-size: 2.3em;
    font-family: BrandonGrotesque-Regular; }
  .explore__content .explore__left__straight {
    border: 1px solid #bfa699;
    width: 170px; }
  .explore__content .explore__left__content {
    font-family: PT_Serif-Web-Regular;
    font-size: 1.58em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical; }
  .explore__content .explore__slider {
    margin-right: 4rem; }
    .explore__content .explore__slider .slick-slide {
      height: 150px; }
      .explore__content .explore__slider .slick-slide img {
        -o-object-fit: contain;
        object-fit: contain; }
  /*----------------------------------------------------explore content*/
  /*----------------------------------------------------highlight content*/
  .highlights__content .highlights__head__img {
    height: 160px; }
  .highlights__content .head__text {
    top: 0;
    background-color: #ffffff6e; }
    .highlights__content .head__text .highlight--title {
      font-size: 3.67em;
      font-family: BrandonGrotesque-Black;
      margin-bottom: -9px; }
    .highlights__content .head__text .line {
      border-bottom: 2px solid #e79c14;
      width: 50px; }
  .highlights__content .highlight__body {
    background-color: #e5e1d1; }
    .highlights__content .highlight__body .highlight_slider .slick-list {
      padding: 3rem 0; }
      .highlights__content .highlight__body .highlight_slider .slick-list .slick-track .slick-slide .highlight__slider__img {
        overflow: hidden;
        height: 250px;
        width: 250px; }
        .highlights__content .highlight__body .highlight_slider .slick-list .slick-track .slick-slide .highlight__slider__img .highlight__slider__content {
          background: #a98a7b96;
          top: 0;
          left: 0;
          -webkit-transition: 0.5s;
          -o-transition: 0.5s;
          transition: 0.5s;
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1); }
          .highlights__content .highlight__body .highlight_slider .slick-list .slick-track .slick-slide .highlight__slider__img .highlight__slider__content:hover {
            background: #0000002b;
            color: #fff;
            cursor: pointer;
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;
            -webkit-transform: scale3d(1.15, 1.15, 1.15);
            transform: scale3d(1.15, 1.15, 1.15); }
          .highlights__content .highlight__body .highlight_slider .slick-list .slick-track .slick-slide .highlight__slider__img .highlight__slider__content p:first-child {
            font-size: 1.48em;
            font-family: BrandonGrotesque-Bold;
            line-height: 12px; }
          .highlights__content .highlight__body .highlight_slider .slick-list .slick-track .slick-slide .highlight__slider__img .highlight__slider__content .highlight__slider__content__line {
            border: 1px solid;
            width: 61%;
            margin: 0 auto; }
          .highlights__content .highlight__body .highlight_slider .slick-list .slick-track .slick-slide .highlight__slider__img .highlight__slider__content p:last-child {
            font-size: 0.66em;
            font-family: PT_Serif-Web-Regular;
            margin-top: 10px;
            line-height: 7px; }
  /*----------------------------------------------------highlight content*/
  /*----------------------------------------------------timeline content*/
  .timeline__content {
    background: #e5e1d1; }
    .timeline__content .timeline__title {
      font-size: 3.67em;
      font-family: BrandonGrotesque-Black;
      margin-bottom: -9px; }
    .timeline__content .line {
      border-bottom: 2px solid #e79c14;
      width: 50px; }
  /*----------------------------------------------------timeline content*/
  .map .map_content {
    background: black;
    opacity: 0.8;
    font-size: 20pt;
    position: absolute; } }

@media (max-width: 576px) {
  .carousel-text p:first-child {
    line-height: 40px !important;
    font-size: 2em !important;
    width: auto !important; }
  .carousel-text p:nth-child(3) {
    font-size: 1em !important; }
  .highlights__content .head__text .highlight--title, .highlights__content .head__text .timeline--content .timeline--title {
    font-size: 3em; }
  .highlights__content .highlight__body .highlight_slider .slick-list .slick-track .slick-slide .highlight__slider__img {
    height: 150px;
    width: 150px; }
  .title {
    font-family: BrandonGrotesque-Black;
    font-size: 30pt; }
  span.line_short {
    width: 20%;
    border: 2px solid #e79c14; }
  .map .map_content {
    position: unset; } }

@media (max-width: 992px) {
  /*----------------------------------------------------explore content*/
  .explore__content .explore__slider {
    margin-right: 0; }
  /*----------------------------------------------------explore content*/
  #timeline_search {
    right: auto; }
  #time_scoll, .tl-timenav .tl-timenav-line {
    display: none; } }
