.tl-timeline {
    overflow: unset;
}

.tl-slide {
    background-color: #e5e1d1;
}

.tl-timenav {
    background-color: #ceccc4;
}

.tl-media .tl-media-content-container .tl-media-content img {
    border: 2px solid;
    box-shadow: 0px 0px 10px;
    max-height: 315px !important;
    max-width: 320px !important;
}

.tl-storyslider .tl-slider-container-mask .tl-slider-container {
    text-align: right;
}

.tl-timenav {
    border-top: none;
}

.tl-timenav .tl-timenav-line {
    display: block;
    border-width: 0.5px;
    border-color: red;
    border-width: 0.5px;
    border-style: dotted;
    width: 0px;
}

.tl-timenav .tl-timenav-line:after {
    content: "\e647";
    top: -10px;
}

.tl-timenav .tl-timenav-line:after, .tl-timenav .tl-timenav-line:before {
    color: #c2c2c2;
    left: -16px;
}

.tl-timenav .tl-timenav-slider .tl-timenav-slider-background {
    z-index: 0;
}

.tl-timemarker .tl-timemarker-content-container {
    z-index: 1;
}

.tl-timemarker.tl-timemarker-active .tl-timemarker-content-container {
    z-index: 1;
}

.tl-timeaxis-background {
    background-color: #e5e1d1;
}

.tl-slide .tl-slide-content-container .tl-slide-content .tl-text {
    vertical-align: top;
}

.tl-caption {
    text-align: right;
    margin-right: 15px;
}

.tl-slidenav-next {
    right: 140px;
}

.tl-slidenav-previous {
    left: 36px;
}

.tl-timemarker .tl-timemarker-content-container {
    background-color: #bebdb8;
    border: 1px solid #bebdb8;
    box-shadow: none;
}

.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-media-container {
    display: none;
}

.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline, .tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline p {
    color: #818181;
}

.tl-timemarker .tl-timemarker-line-left, .tl-timemarker .tl-timemarker-line-right {
    box-shadow: none;
    border-left: 1px solid #aeaca8;
}

.tl-menubar-button {
    background-color: #ceccc4;
    color: #3f3f3f;
}

.tl-icon-goback {
    background-image: url('../images/timeline_img/loop2.png');
    background-size: 18px 18px;
    display: inline-block;
    width: 18px;
    height: 18px;
    /*content:"";*/
}

.tl-icon-goback:after {

    content: "";
}

.tl-icon-goback:hover {
    background-image: url('../images/timeline_img/loop_white.png');
}

#head_nav {
    height: 30px;
    background-color: #959595;
}

#timeline_search {
    width: 235px;
    border: 1px solid;
    border-radius: 20px;
    display: inline;
    margin-top: 4px;
    position: absolute;
    right: 60px;
    height: 22px
}

#btn_search {
    background-image: url("../images/timeline_img/icon_search.png");
    height: 17px;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-left: 6px;
    background-size: 15px;
    width: 17px;
    transform: translateY(2px);
}

#time_scoll {
    width: 153px;
    background-color: #c2c2c2;
    text-align: center;
    padding: 9px;
    font-weight: bold;
}

#timeline {
    height: 600px;
    margin-top: 20px;
}

.tl-attribution {
    display: none;
}

@media only screen and (max-width: 500px) {
    .tl-storyslider .tl-slider-container-mask .tl-slider-container {
        text-align: center;
    }

    .tl-caption {
        margin-right: auto;
    }
}

.img_timeline {

    max-height: 158px;
    display: inline-block !important;
}

.flag_timeline {
    display: inline-block !important;
    width: 30px;
    height: 30px;
}

.slick-prev:before {
    background: url("../images/timeline_img/prev_arrow.png") no-repeat;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
}

.slick-next:before {
    background: url("../images/timeline_img/next_arrow.png") no-repeat;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
}

.list_timeline {
    padding-right: 100px;
    padding-left: 100px;
    margin-bottom: 50px;
}

.content_slide {
    width: 250px !important;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 10px;
    margin-bottom: 7px;
    margin-top: 7px;
    margin-left: 25px;
    cursor: pointer;
}

.img_content_txt {
    left: 40px;
    position: absolute !important;
    top: -12px;
}

.tl-text-content-container {
    position: relative;
}

.tl-storyslider .tl-slider-background {
    background-color: #e5e1d1 !important;
}

.tl-text h2.tl-headline, .tl-text h2.tl-headline-title {
    font-weight: bold;
}

.tl-text .tl-headline-date, .tl-text h3.tl-headline-date {
    color: #000000;
}

.tl-timeline .tl-caption {
    font-style: italic;
}