@font-face {
    font-family: BrandonGrotesque-Bold;
    src: url("../fonts/BrandonGrotesque/Brandon_bld.otf");
}

@font-face {
    font-family: BrandonGrotesque-Black;
    src: url('../fonts/BrandonGrotesque/Brandon_blk.otf');
}

@font-face {
    font-family: BrandonGrotesque-Light;
    src: url('../fonts/BrandonGrotesque/Brandon_light.otf');
}

@font-face {
    font-family: BrandonGrotesque-Regular;
    src: url('../fonts/BrandonGrotesque/Brandon_reg.otf');
}

@font-face {
    font-family: 'PT_Serif-Web-Regular';
    src: url('../fonts/PT_Serif/PT_Serif-web-fonts/pt_serif-web-regular-webfont.woff') format('woff'), url('../fonts/PT_Serif/PT_Serif-web-fonts/PT_Serif-Web-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'PT_Serif-Web-Bold';
    src: url('../fonts/PT_Serif/PT_Serif-web-fonts/pt_serif-web-bold-webfont.woff') format('woff'), url('../fonts/PT_Serif/PT_Serif-web-fonts/PT_Serif-Web-Bold.ttf') format('truetype');
}

/*.cursor__pointer {*/
/*cursor: pointer;*/
/*}*/

/*.text__upper {*/
/*text-transform: uppercase;*/
/*}*/

/*.menu_content_navbar {*/
/*background-color: #222222;*/
/*}*/

/*.explore__content {*/
/*!*margin-top: -62px;*!*/
/*!*padding-top: 82px;*!*/
/*}*/

/*.highlights__content, .timeline__content {*/
/*!*margin-top: -39px;*!*/
/*!*padding-top: 57px;*!*/
/*}*/

/*.exhibits__content, .testimonials__content {*/
/*!*margin-top: -39px;*!*/
/*!*padding-top: 41px;*!*/
/*}*/

/*.abouts__content {*/
/*!*margin-top: -58px;*!*/
/*!*padding-top: 45px;*!*/
/*}*/

/*.maps__content {*/
/*!*margin-top: -17px;*!*/
/*!*padding-top: 63px;*!*/
/*}*/

/*.menu__content .overlay a:hover,*/
/*.menu__content .overlay a:focus {*/
/*!*color: #956b55;*!*/
/*}*/

/*.overlay-content .fa-circle {*/
/*font-size: 9px;*/
/*margin: 0 5px;*/
/*}*/

/*.overlay-content i:last-child {*/
/*font-size: 2em;*/
/*padding: 22px;*/
/*}*/

/*.overlay-content2 a {*/
/*font-size: 1.66em !important;*/
/*}*/

/*.home__content {*/
/*margin-top: -63px;*/
/*padding-top: 63px;*/
/*}*/

/*#home__content__carousel {*/
/*margin-top: 3.7em !important;*/
/*}*/

/*#home__content__carousel img {*/
/*object-fit: cover;*/
/*}*/



/*.explore__center img {*/
/*!*width: 88%;*!*/
/*!*height: 132px;*!*/
/*object-fit: contain;*/
/*}*/



/* -------------------------------------------------------- Explore Content ------------------------------------------------------------ */
/*.explore__content > .row, .highlight--content > .row, .tabs__worldfair .row,*/
/*.highlight__body .row, .timeline--body .row {*/
/*margin: 0 auto !important;*/
/*max-width: 1756px;*/
/*}*/

/*.explore--left {*/
/*!*padding-left: 3em !important;*!*/
/*!*padding-right: 3em !important;*!*/
/*}*/



.explore__content .explore--hideContent {
    display: none;
    font-family: PT_Serif-Web-Regular;
    font-size: 1.58em;
    margin-top: 0.6em;
    padding-right: 7%;
}

.explore__content #btn--closedEx {
    display: none;
}

/*.explore__content .explore__img {*/
/*!*width: 84%;*!*/
/*}*/


.highlight--content .slider {
    width: 100%;
    margin: 78px auto;
}

/*.explore__content .slick-prev {*/
/*!*left: -56px;*!*/
/*}*/

/*.slick-prev:before {*/
/*!*content: url(../assets/images/timeline_img/prev_arrow.png);*!*/
/*}*/

/*.explore__content .slick-next {*/
/*!*right: -31px;*!*/
/*}*/

/*.slick-next:before {*/
/*!*content: url(../assets/images/timeline_img/next_arrow.png);*!*/
/*}*/

.temp {
    height: 100vh;
}

/* -------------------------------------------------------- highlights content ------------------------------------------------------------ */



/*.explore__content .slick-track {*/
/*!*height: 177px;*!*/
/*!*padding-top: 20px;*!*/
/*}*/

/*.highlights__content .slick-track {*/
/*height: 262px;*/
/*padding-top: 20px;*/
/*}*/

/*.highlight__body .slider {*/
/*!*margin: 11px auto;*!*/
/*}*/

/*.highlight__body .slick-slide img {*/
/*display: block;*/
/*width: 100%;*/
/*height: 100%;*/
/*margin-left: 2px;*/
/*}*/

/*.highlight__body .highlight__slider__img {*/
/*!*width: 185px;*!*/
/*!*background-color: #cbb9b08c;*!*/
/*!*height: 185px;*!*/
/*!*position: absolute;*!*/
/*!*top: 20px;*!*/
/*!*!*margin-left: 13.5px*!*!*/
/*}*/

/*.imgMarilyn {*/
/*background-image: url(./assets/images/highlight/img_Marilin.png);*/
/*background-size: cover;*/
/*}*/

/*.imgFelix {*/
/*background-image: url(./assets/images/highlight/img_Felix.png);*/
/*background-size: cover;*/
/*}*/

/*.imgWorld {*/
/*background-image: url(./assets/images/highlight/img_Worldfair.png);*/
/*background-size: cover;*/
/*}*/

/*.imgPioneers {*/
/*background-image: url(./assets/images/highlight/img_Pioneers.png);*/
/*background-size: cover;*/
/*}*/

.tabs__worldfair, #tabs__marilyn__details {
    display: none;
    padding: 5px 0px;
}

    .tabs__worldfair img, .content1__img, .btnclosedet
    .tabs__worldfair .box--left .box--left__content p:first-child,
    .tabs__worldfair .box--right .box--right__content p:first-child {
        cursor: pointer;
    }

.active__tabs {
    display: block !important;
}

.highlight_slider .slick-prev {
    /*left: -85px;*/
}

.highlight_slider .slick-next {
    /*right: -62px;*/
}

.highlight_slider--imgZoom {
    transform: scale3d(1.1, 1.1, 1.1);
    background-color: #7f7f7f8c;
}

.highlight_slider .highlight_slider--img {
    overflow: hidden;
    position: relative;
    /*color: #000000;*/
    /*cursor: pointer;*/
    /*transition: 0.5s;*/
}

/*.highlight_slider .slick-slide {*/
/*position: relative;*/
/*}*/


.content1__img {
    height: 181px;
    padding-left: 0px;
}

    .content1__img > div {
        height: 100%;
    }

        .content1__img > div > img {
            height: 100%;
            width: 100%;
            float: right;
        }

/* -------------------------------------------------------- highlights tabs ------------------------------------------------------------ */
.tabs__worldfair .box--left {
    height: 567px;
    /*width: 445px;*/
    /*margin: 3px auto;*/
    background-color: black;
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.34), 0px 0px 6px 0px rgba(0, 0, 0, 0.24)
}

    .tabs__worldfair .box--left img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .tabs__worldfair .box--left mt-5 {
        margin-top: 4em !important;
    }

    .tabs__worldfair .box--left .box--left__content {
        color: #ffffff;
        padding-left: 10%;
        padding-top: 12%;
    }

        .tabs__worldfair .box--left .box--left__content p:first-child {
            font-size: 1.37em;
            font-family: BrandonGrotesque-Bold;
        }

.tabs__worldfair .box--right .box--right__content p:first-child {
    font-size: 1.37em;
    font-family: BrandonGrotesque-Bold;
    color: #323232;
    line-height: 27px;
}

.tabs__worldfair .box--left .box--left__content p:nth-child(2) {
    font-size: 1.37em;
    font-family: PT_Serif-Web-Regular;
}

.tabs__worldfair .box--right .box--right__content p:nth-child(2) {
    font-size: 1.37em;
    font-family: PT_Serif-Web-Regular;
    color: #323232;
}

.tabs__worldfair .box--left button {
    font-size: 1em;
    font-family: PT_Serif-Web-Regular;
    border-radius: 0;
    background-color: #ffffff00;
    color: #ffffff;
    border: 1px solid;
}

    .tabs__worldfair .box--left button:hover {
        background-color: #ffffff;
        color: #000000;
    }

.imgWorld1 {
    background-image: url(../images/highlight/img_World1.png);
    background-size: 171%;
    background-position: 100% 45%;
    background-repeat: no-repeat;
}

.imgWorld2 {
    background-image: url(../images/highlight/img_World2.png);
    background-size: cover;
}

.imgWorld3 {
    background-image: url(../images/highlight/img_World3.png);
    background-size: cover;
}

.tabs__worldfair .box--right button {
    font-size: 1em;
    font-family: PT_Serif-Web-Regular;
    border-radius: 0;
    background-color: #ffffff00;
    color: #979797;
    border: 1px solid;
}

    .tabs__worldfair .box--right button:hover {
        background-color: #979797;
        color: #ffffff;
    }

#tabs__marilyn__details .btnclosedet {
    color: #000000;
    font-size: 4em !important;
    width: 2.5% !important;
    text-decoration: none;
    line-height: 5px;
    cursor: pointer;
}

    #tabs__marilyn__details .btnclosedet:hover {
        color: #956b55;
    }

.scrollbar {
    /*margin-left: 30px;*/
    float: left;
    height: 573px;
    /*width: 94%;*/
    background: #f5f5f500;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.box--right .box--content1, .box--content0 {
    min-height: 181px;
    background-color: #ffffff;
    margin: 4px 8% 10px 0%;
    box-shadow: 0px -2px 6px 0px rgba(4, 4, 4, 0.42), 0px 3px 5px 0px rgba(0, 0, 0, 0.51)
}

.box--content0 {
    /*display: none;*/
}

.tabs__worldfair .box--right .box--right__content {
    margin-left: 2em !important;
}

.style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #a6a6a5;
    border-radius: 10px;
}

.style-3::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.style-3::-webkit-scrollbar-thumb {
    background-color: #5e5e5d;
    border-radius: 10px;
}

#tabs__marilyn__details .box--left__img img {
    width: 400px;
    height: 500px;
}

#tabs__marilyn__details .box--right__content {
    font-family: BrandonGrotesque-Regular;
    font-size: 1.18em;
    margin-top: 19%;
}

/* -------------------------------------------------------- Timeline Content ------------------------------------------------------------ */
/*.timeline__calendar {
    margin-top: 4.5em;
}*/

.timeline__content .timeline__header p:nth-child(3) {
    text-transform: uppercase;
    font-family: PT_Serif-Web-Regular;
    font-size: 2.5em;
    margin-bottom: 0px;
    margin-top: 20px;
}

.timeline__content .timeline__header p:nth-child(4) {
    text-transform: uppercase;
    font-family: BrandonGrotesque-Bold;
    font-size: 2.5em;
    line-height: 32px;
}

.timeline__calendar .event--left, .timeline__calendar .post--left {
    background-color: #ffffff;
    padding: 28px;
    margin-top: 6px;
    height: 525px;
    box-shadow: -5px 9px 14px 0px rgba(4, 4, 4, 0.42), 0px 3px 5px 0px rgba(0, 0, 0, 0.51);
}

    .timeline__calendar .event--left .event--left__head--left {
        font-size: 3.5em;
        font-family: BrandonGrotesque-Black;
        color: #f13c31;
        line-height: 45px;
        margin-bottom: 0px;
    }

    .timeline__calendar .event--left .event--left__head--right p:first-child {
        font-family: BrandonGrotesque-Black;
        font-size: 1.67em;
        color: #9f9f9f;
        line-height: 19px;
        margin-bottom: 0px;
    }

    .timeline__calendar .event--left .event--left__head--right p:last-child {
        color: #b1b1b1;
        font-size: 1.1em;
        font-family: BrandonGrotesque-Bold;
        line-height: 0px;
        margin-top: 17px;
        margin-bottom: 26px;
    }

    .timeline__calendar .event--left .imgEventCal {
        background-image: url(../images/calendar/img_eventcal.png);
        background-size: 90%;
        background-position: 37% 11%;
        background-repeat: no-repeat;
        height: 200px;
    }

.timeline__calendar .event--right .imgEventCal {
    background-image: url(../images/calendar/img_eventcal.png);
    background-size: 94%;
    background-position: 41% 11%;
    background-repeat: no-repeat;
    height: 93px;
}

.timeline__calendar .event--left__content {
    padding: 0 3px;
}

    /*.timeline__calendar .event--left__content p:first-child {*/
    /*font-size: 1.67em;*/
    /*font-family: PT_Serif-Web-Bold;*/
    /*line-height: 25px;*/
    /*margin-top: 22px;*/
    /*cursor: pointer;*/
    /*}*/
    .timeline__calendar .event--left__content p:first-child {
        font-size: 1.67em;
        font-family: PT_Serif-Web-Bold;
        margin-top: 22px;
        cursor: pointer;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .timeline__calendar .event--left__content p:nth-child(2) {
        font-size: 1.1em;
        font-family: PT_Serif-Web-Regular;
        color: #b7b7b7;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    /*.timeline__calendar .event--left__content p:nth-child(2) {*/
    /*font-size: 1.1em;*/
    /*font-family: PT_Serif-Web-Regular;*/
    /*color: #b7b7b7;*/
    /*}*/

    .timeline__calendar .event--left__content button, .timeline__calenda .event--right__boxcontent--bottom button {
        float: right;
        font-size: 0.6em;
        border-radius: 0px;
        color: #989898;
        border-color: #989898;
        padding: 8px 14px;
        font-weight: bold;
    }

/*.timeline__calendar .event--right {*/
/*padding-left: 10px;*/
/*}*/

.timeline__calendar .event--right__box {
    height: 171px;
    box-shadow: 1px -1px 7px 0px rgba(4, 4, 4, 0.42), 0px 3px 5px 0px rgba(0, 0, 0, 0.51);
    padding-top: 15px;
    width: 100%;
    margin: 6px 0px;
    padding-left: 14px;
}

.timeline__calendar .event--right__boxcontent--bottom {
    margin-top: 46px;
    width: 98%;
    text-align: center;
}

    .timeline__calendar .event--right__boxcontent--bottom .col-4 {
        padding: 0 !important;
    }

        .timeline__calendar .event--right__boxcontent--bottom .col-4:first-child p:first-child {
            font-size: 1em;
            line-height: 0;
            color: #9f9f9f;
        }

        .timeline__calendar .event--right__boxcontent--bottom .col-4:first-child p:nth-child(2) {
            font-size: 1em;
            color: #9f9f9f;
            line-height: 13px;
            margin-bottom: 0px;
        }

        .timeline__calendar .event--right__boxcontent--bottom .col-4:nth-child(2) {
            font-size: 1.63em;
            color: #f13c31;
            line-height: 16px;
            font-family: PT_Serif-Web-Bold;
        }

        .timeline__calendar .event--right__boxcontent--bottom .col-4:last-child button {
            font-size: 0.6em;
            border-radius: 0px;
            color: #989898;
            border-color: #989898;
            padding: 8px 14px;
            font-weight: bold;
        }

/*.timeline__calendar .event--right__boxcontent--top p:first-child {*/
/*font-size: 1.67em;*/
/*font-family: PT_Serif-Web-Bold;*/
/*line-height: 25px;*/
/*margin-bottom: 0px;*/
/*cursor: pointer;*/
/*}*/
.timeline__calendar .event--right__boxcontent--top p:first-child {
    font-size: 1.67em;
    font-family: PT_Serif-Web-Bold;
    line-height: 25px;
    margin-bottom: 0px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.timeline__calendar .event--right__boxcontent--top p:nth-child(2), .timeline__calendar .museum--right__boxcontent--top p:nth-child(2) {
    font-size: 1.1em;
    font-family: PT_Serif-Web-Regular;
    color: #b7b7b7;
    line-height: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 8px;
    margin-bottom: -7px;
}

/*.timeline__calendar .event--right__boxcontent--top p:nth-child(2) {*/
/*font-size: 1.1em;*/
/*font-family: PT_Serif-Web-Regular;*/
/*color: #b7b7b7;*/
/*line-height: 18px;*/
/*}*/

#calendar__event > p, #calendar__museum > p {
    font-size: 2.5em;
    font-family: BrandonGrotesque-Bold;
}

figure > div {
    font-family: PT_Serif-Web-Bold;
    font-size: 1.6em;
    cursor: pointer;
}

.box_testminails {
    width: 365px;
}

.fontSerifRe {
    font-family: PT_Serif-Web-Regular;
}

#nav-home img {
    shape-outside: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    width: 500px;
    height: 315px;
    float: left;
    animation: nudge 3s infinite;
    padding: 13px;
}

#nav-profile img, #nav-contact img {
    shape-outside: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    width: 300px;
    height: 500px;
    float: left;
    animation: nudge 3s infinite;
    padding: 13px;
}

.timeline--body .event--left__img {
    height: 200px;
    width: 100%;
    text-align: center;
}

    .timeline--body .event--left__img img {
        height: 100%;
        width: 90%;
    }

/* -------------------------------------------------------- Responsive ------------------------------------------------------------ */
/* BigPhone */
@media only screen and (max-width: 576px) {
    .timeline--body .content_slide {
        width: 100% !important;
        margin: 0 !important;
    }

    .timeline--body .slick-slide {
        padding: 10px;
    }

    /*#time_scoll {
        display: none;
    }*/

    .timeline__calendar .event--left__content p:first-child, .timeline__calendar .event--right__boxcontent--top p:first-child {
        font-size: 1.47em;
    }

    .timeline__calendar .event--left__content p:nth-child(2), .timeline__calendar .event--right__boxcontent--top p:nth-child(2), .timeline__calendar .event--right__boxcontent--bottom .col-4:first-child p:nth-child(2) {
        font-size: 1em;
    }

    .timeline__calendar .event--right__boxcontent--bottom .col-4:last-child button {
        font-size: 0.56em;
        padding: 6px 11px;
    }

    /*.timeline__calendar .event--right__boxcontent--bottom {*/
    /*margin-top: 0;*/
    /*}*/
    .timeline__calendar .event--right {
        padding: 0;
    }

    .timeline__calendar .event--right__boxcontent--bottom .col-4:first-child p:first-child, .timeline__calendar .event--right__boxcontent--bottom .col-4:first-child p:nth-child(2) {
        font-size: 0.8em;
    }

    .timeline__calendar .event--right__box {
        width: 100%;
    }

    .timeline__calendar .event--right__boxcontent--bottom .col-4:nth-child(2) {
        font-size: 1.43em;
    }

    .img_content_txt {
        left: 50px;
    }

    /*.menu__content .overlay a {*/
    /*padding: 5px;*/
    /*}*/
    .menu__content .overlay .overlay-content a {
        width: 100%;
        padding: 0.47vh;
        font-size: 1.4em !important;
    }

    .menu__content .overlay .overlay-content2 a {
        font-size: 1.2em !important;
    }

    .explore__center img {
        width: 88%;
        height: 88px;
    }

    .tabs__worldfair .box--left {
        display: none;
    }

    .tabs__worldfair .box--content0 {
        display: flex !important;
    }

    #home__content__carousel img {
        height: 37.3vh;
    }

    .carousel-text p:first-child {
        font-size: 1.16em;
        line-height: 19px;
    }

    .carousel-text--straight {
        width: 76px;
    }

    .carousel-text p:nth-child(3) {
        font-size: 0.56em;
        margin-bottom: -15px;
        margin-top: -8px;
    }

    .carousel-btn {
        font-size: 0.5em;
    }

    .explore__content .explore--left__title {
        font-size: 1.9em;
    }

    .explore__content .explore--left__straight {
        width: 141px;
    }

    .explore__content .explore--left__content {
        font-size: 1.36em;
        padding-right: 6%;
    }

    .explore__content .slick-prev {
        left: -35px;
    }

    .explore__content .slider {
        margin: 30px auto;
    }

    .explore__content .slick-track {
        height: 129px;
        padding-top: 20px;
    }

    .explore__content .explore--right {
        /*padding-left: 3em !important;*/
        /*padding-right: 3em !important;*/
    }

    .explore__content .explore__img {
        width: 66%
    }

    .highlights__content .highlights--head__img {
        height: 105px;
        object-fit: cover;
    }

    .highlights__content .highlighs--title {
        font-size: 1.67em;
        font-family: BrandonGrotesque-Black;
        margin-bottom: 0;
    }

    .highlight__body .slider {
        /*margin: 41px 49px;*/
    }

    .highlight_slider .slick-prev {
        left: -54px;
    }

    .highlight_slider .slick-next {
        right: -52px;
    }

    .tabs__worldfair .box--right .box--right__content {
        margin-left: 0em !important;
        margin-top: 1rem !important;
    }

        .tabs__worldfair .box--right .box--right__content p:first-child {
            font-size: 0.65em;
        }

        .tabs__worldfair .box--right .box--right__content p:nth-child(2) {
            font-size: 0.65em;
        }

    .tabs__worldfair .box--right button {
        font-size: 0.67em;
    }

    .tabs__worldfair .scrollbar {
        margin-left: 15px;
        width: 96%;
    }

    .box--right .box--content1, .box--content0 {
        min-height: 133px;
        margin: 3px 5% 10px 1%;
    }
}

/* IPAD */
@media (min-width: 576px) and (max-width: 769px) {
    #home__content__carousel img {
        height: 71.3vh;
    }

    .carousel-text p:first-child {
        font-size: 2.16em;
    }

    .carousel-text--straight {
        width: 125px;
    }

    .carousel-text p:nth-child(3) {
        font-size: 1.1em;
    }

    .carousel-btn {
        font-size: .6em;
    }

    .explore__content .explore--right {
        /*padding-left: 3em !important;*/
        /*padding-right: 3em !important;*/
    }

    .explore__content .explore--left__content {
        padding-right: 0%;
        margin-bottom: 0;
    }

    .tabs__worldfair .box--left {
        /*display: none;*/
    }

    .tabs__worldfair .box--content0 {
        /*display: flex !important;*/
    }

    .explore__img {
        width: 50% !important;
    }

    .slider {
        /*margin: 50px 9px !important;*/
    }

    .explore__content .slick-next {
        /*right: -17px !important;*/
    }

    .explore__content .slick-prev {
        /*left: -36px !important;*/
    }

    .highlights__content .highlighs--title {
        font-size: 2.67em;
    }

    .highlights__content .highlights--head__img {
        height: 100px;
    }

    .highlight__body .slider {
        /*margin: 50px 49px !important;*/
    }

    .highlight_slider .slick-prev {
        /*left: -63px;*/
    }

    .menu__content .overlay a {
        font-size: 1.5em;
        padding: 8px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 770px) and (max-width: 991.98px) {
    .tabs__worldfair .box--left {
        /*display: none;*/
    }

    .tabs__worldfair .box--content0 {
        /*display: flex !important;*/
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .tabs__worldfair .box--left {
        /*display: none;*/
    }

    .tabs__worldfair .box--content0 {
        /*display: flex !important;*/
    }

    .explore__content .slick-prev {
        left: -38px;
    }

    .explore--left__title {
        font-size: 1.9em;
    }

    .explore--left__straight {
        width: 142px;
    }

    .explore__content .slider {
        /*margin: 50px 9px !important;*/
    }

    .explore--left .slick-track {
        height: 171px;
        padding-top: 20px;
    }

    .explore__content .explore__img {
        /*width: 100%;*/
    }

    /*
    .highlight--content .slider {
      margin: 50px 46px !important;
    } */
    .highlight__body .slider {
        /*margin: 40px 90px;*/
    }

    .highlight__body .slick-prev {
        /*left: -71px;*/
    }

    .highlight__body .slick-next {
        /*right: -70px;*/
    }

    #calendar__event .event--right {
        padding-left: 1em !important;
    }
}

/* LAPTOP */
@media (min-width: 1200px) and (max-width: 1567px) {
    .explore__content .slick-prev {
        /*left: -32px;*/
    }

    .explore__content .slick-next {
        /*right: -17px;*/
    }

    .tabs__worldfair .box--left {
        width: 365px !important;
    }

    .tabs__worldfair .scrollbar {
        margin-left: 38px !important;
        width: 100% !important;
    }

    .tabs__worldfair .box--left .box--left__content {
        padding-top: 18%;
    }

        .tabs__worldfair .box--left .box--left__content p:first-child, .tabs__worldfair .box--left .box--left__content p:nth-child(2) {
            font-size: 1.35em;
        }

    .tabs__worldfair .box--right .box--right__content {
        margin-left: 1.2em !important;
        margin-bottom: 1.5em;
    }

        .tabs__worldfair .box--right .box--right__content p:first-child,
        .tabs__worldfair .box--right .box--right__content p:nth-child(2) {
            font-size: 1.2em;
        }

    .overlay .closebtn {
        top: -5px;
        left: 9px;
        font-size: 3em !important;
    }

    .menu__content .overlay a {
        font-size: 2em;
        line-height: 1.2em;
    }

    .overlay-content2 a {
        font-size: 1.8em !important;
    }

    .timeline__calendar .event--left .event--left__head--left {
        font-size: 2em;
    }

    .timeline__calendar .event--left .event--left__head--right p:first-child {
        font-size: 1.4em;
    }

    .timeline__calendar .event--left .event--left__head--right p:last-child {
        font-size: 0.9em;
    }

    .timeline__calendar .event--left {
        height: 486px;
    }

    .timeline--body .event--left__img {
        height: 172px;
    }

    .timeline__calendar .event--left__content p:first-child {
        font-size: 1.57em;
    }

    .timeline__calendar .event--left__content button, .timeline__calenda .event--right__boxcontent--bottom button {
        font-size: 0.5em;
        padding: 4px 12px;
    }

    .timeline__calendar .event--right__box {
        height: 158px;
        width: 97%;
        margin: 6px 0px;
    }

    .timeline__calendar .event--right__boxcontent--top p:first-child {
        font-size: 1.57em;
    }

    .timeline__calendar .event--right__boxcontent--bottom {
        margin-top: 40px;
        width: 95%;
    }

        .timeline__calendar .event--right__boxcontent--bottom .col-4:first-child p:first-child {
            font-size: 0.75em;
            line-height: 0;
        }

        .timeline__calendar .event--right__boxcontent--bottom .col-4:first-child p:nth-child(2) {
            margin-bottom: 0px;
            font-size: 0.75em;
            line-height: 13px;
        }

        .timeline__calendar .event--right__boxcontent--bottom .col-4:nth-child(2) {
            font-size: 1.3em;
            text-align: center;
            margin-bottom: -2px;
        }

        .timeline__calendar .event--right__boxcontent--bottom .col-4:last-child button {
            font-size: 0.5em;
            padding: 5px 9px;
            font-weight: bold;
        }
}

@media only screen and (max-width: 1199.98px) {
    .timeline__calendar .event--right {
        padding: 0;
    }

    .timeline__calendar .event--right__box {
        width: 100%;
    }
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }

    .menu__content .overlay a {
        font-size: 1.36em
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-height: 600px) and (max-width: 380px) {
    .highlight__body .slider {
        margin: 41px 27px;
    }

    .highlight__body .highlight_slider--img {
        width: 168px;
        height: 168px;
    }

    /*.slick-track {*/
    /*height: 201px;*/
    /*padding-top: 20px;*/
    /*}*/

    .explore__content .explore--left__title {
        font-size: 1.5em;
    }

    .explore__content .explore--left__content {
        font-size: 1.16em;
        padding-right: 0%;
    }
}

/* IPHONE 6,7,8 */
@media only screen and (max-width: 380px) and (max-height: 700px) and (min-height: 600px) {

    /* .menu__content .overlay a {
      padding: 1px;
    }

    .overlay-content {
      top: 1%;
    } */
    .menu__content .overlay a {
        padding: 8px;
    }

    #home__content__carousel img {
        height: 37.3vh;
    }

    .carousel-text p:first-child {
        font-size: 1.16em;
        line-height: 19px;
    }

    .carousel-text--straight {
        width: 76px;
    }

    .carousel-text p:nth-child(3) {
        font-size: 0.56em;
        margin-bottom: -15px;
        margin-top: -8px;
    }

    .carousel-btn {
        font-size: 0.5em;
    }

    .explore__content .slick-prev {
        left: -35px;
    }

    .explore__content .slider {
        margin: 30px auto;
    }

    .explore__content .slick-track {
        height: 127px;
        padding-top: 20px;
    }

    .explore__content .explore--right {
        /*padding-left: 3em !important;*/
        /*padding-right: 3em !important;*/
    }

    .explore__content .explore__img {
        width: 66%
    }

    .highlights__content .highlights--head__img {
        height: 105px;
        object-fit: cover;
    }

    .highlights__content .highlighs--title {
        font-size: 1.67em;
        font-family: BrandonGrotesque-Black;
        margin-bottom: 0;
    }

    .highlight__body .slider {
        margin: 41px 27px;
    }

    .highlight__body .slick-track {
        height: 230px;
        padding-top: 20px;
    }

    .highlight_slider .slick-prev {
        left: -54px;
    }

    .tabs__worldfair .box--right .box--right__content {
        margin-left: 0em !important;
        margin-top: 1rem !important;
    }

        .tabs__worldfair .box--right .box--right__content p:first-child {
            font-size: 0.65em;
        }

        .tabs__worldfair .box--right .box--right__content p:nth-child(2) {
            font-size: 0.65em;
        }

    .tabs__worldfair .box--right button {
        font-size: 0.67em;
    }

    .box--right .box--content1, .box--content0 {
        min-height: 133px;
        margin: 3px 5% 10px 1%;
    }
}

@media only screen and (max-width: 415px) and (max-height: 751px) and (min-height: 701px) {
    .menu__content .overlay a {
        padding: 8px;
    }

    #home__content__carousel img {
        height: 37.3vh;
    }

    .carousel-text p:first-child {
        font-size: 1.16em;
        line-height: 19px;
    }

    .carousel-text--straight {
        width: 76px;
    }

    .carousel-text p:nth-child(3) {
        font-size: 0.56em;
        margin-bottom: -15px;
        margin-top: -8px;
    }

    .carousel-btn {
        font-size: 0.5em;
    }

    .explore__content .explore--left__title {
        font-size: 1.9em;
    }

    .explore__content .explore--left__straight {
        width: 141px;
    }

    .explore__content .explore--left__content {
        font-size: 1.36em;
        padding-right: 6%;
    }

    .explore__content .slick-prev {
        left: -35px;
    }

    .explore__content .slider {
        margin: 30px auto;
    }

    .explore__content .slick-track {
        height: 129px;
        padding-top: 20px;
    }

    .explore__content .explore--right {
        /*padding-left: 3em !important;*/
        /*padding-right: 3em !important;*/
    }

    .explore__content .explore__img {
        width: 66%
    }

    .highlights__content .highlights--head__img {
        height: 105px;
        object-fit: cover;
    }

    .highlights__content .highlighs--title {
        font-size: 1.67em;
        font-family: BrandonGrotesque-Black;
        margin-bottom: 0;
    }

    .highlight__body .slider {
        margin: 18px 49px;
    }

    .highlight_slider .slick-prev {
        left: -54px;
    }

    .highlight_slider .slick-next {
        right: -52px;
    }

    .tabs__worldfair .box--right .box--right__content {
        margin-left: 0em !important;
        margin-top: 1rem !important;
    }

        .tabs__worldfair .box--right .box--right__content p:first-child {
            font-size: 0.65em;
        }

        .tabs__worldfair .box--right .box--right__content p:nth-child(2) {
            font-size: 0.65em;
        }

    .tabs__worldfair .box--right button {
        font-size: 0.67em;
    }

    .tabs__worldfair .scrollbar {
        margin-left: 15px;
        width: 96%;
    }

    .box--right .box--content1, .box--content0 {
        min-height: 133px;
        margin: 3px 5% 10px 1%;
    }
}

/* IPHONE X */
@media only screen and (max-width: 415px) and (max-height: 813px) and (min-height: 750px) {
    .menu__content .overlay .overlay-content a {
        padding: 8px;
    }

    #home__content__carousel img {
        height: 37.3vh;
    }

    .carousel-text p:first-child {
        font-size: 1.16em;
        line-height: 19px;
    }

    .carousel-text--straight {
        width: 76px;
    }

    .carousel-text p:nth-child(3) {
        font-size: 0.56em;
        margin-bottom: -15px;
        margin-top: -8px;
    }

    .carousel-btn {
        font-size: 0.5em;
    }

    .explore__content .explore--left__title {
        font-size: 1.9em;
    }

    .explore__content .explore--left__straight {
        width: 141px;
    }

    .explore__content .explore--left__content {
        font-size: 1.36em;
        padding-right: 6%;
    }

    .explore__content .slick-prev {
        left: -35px;
    }

    .explore__content .slider {
        margin: 30px auto;
    }

    .explore__content .slick-track {
        height: 129px;
        padding-top: 20px;
    }

    .explore__content .explore--right {
        /*padding-left: 3em !important;*/
        /*padding-right: 3em !important;*/
    }

    .explore__content .explore__img {
        width: 66%
    }

    .highlights__content .highlights--head__img {
        height: 105px;
        object-fit: cover;
    }

    .highlights__content .highlighs--title {
        font-size: 1.67em;
        font-family: BrandonGrotesque-Black;
        margin-bottom: 0;
    }

    .highlight__body .slider {
        margin: 18px 34px;
    }

    .highlight_slider .slick-prev {
        left: -54px;
    }

    .highlight_slider .slick-next {
        right: -52px;
    }

    .tabs__worldfair .box--right .box--right__content {
        margin-left: 0em !important;
        margin-top: 1rem !important;
    }

        .tabs__worldfair .box--right .box--right__content p:first-child {
            font-size: 0.65em;
        }

        .tabs__worldfair .box--right .box--right__content p:nth-child(2) {
            font-size: 0.65em;
        }

    .tabs__worldfair .box--right button {
        font-size: 0.67em;
    }

    .tabs__worldfair .scrollbar {
        margin-left: 15px;
        width: 96%;
    }

    .box--right .box--content1, .box--content0 {
        min-height: 133px;
        margin: 3px 5% 10px 1%;
    }
}

@media only screen and (max-width: 415px) and (min-height: 814px) {
    .menu__content .overlay .overlay-content a {
        padding: 13px;
    }
}

color-wood {
    color: #b18857;
}

color-location {
    color: #956b55;
}

body {
    height: 3000px;
}

* a:hover {
    text-decoration: none;
}

* :focus, .form-control:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .list-inline, .list-unstyled, label {
    margin: 0;
}

svg {
    /*margin: 0 5px;*/
}

    svg.active {
        color: saddlebrown;
    }

/*img {*/
/*-o-object-fit: cover;*/
/*object-fit: cover;*/
/*}*/

.font-small {
    font-size: small;
}

.bg_title {
    background: #e5e1d1;
}

.title {
    font-family: BrandonGrotesque-Black;
    /*font-size: 44pt;*/
}

span.line {
    width: 24%;
    border: 1px solid #c0aa97;
}

/*span.line_short {
    width: 3%;
    border: 2px solid #e79c14;
}*/

span.line_short_testimonials {
    width: 80%;
    background: #bca395;
    height: 2px;
}

.click_to_top {
    bottom: 1em;
    right: 1em;
}

.click_to_down {
    z-index: 1;
}

.carousel_control_prev_exhibits, .carousel_control_next_exhibits {
    width: 10%;
}

.btn_read_more {
    border: 1px solid #c6b0a4;
    color: #956b55 !important;
    font-size: 8.5pt;
}

    .btn_read_more:hover {
        background: #956b55;
        color: #ffffff !important;
    }

.font_size_30pt {
    font-size: 30pt;
}

.carousel_banner .carousel-item {
    background: slategray;
}

    .carousel_banner .carousel-item .carousel-bg {
        opacity: 0.7;
    }

    .carousel_banner .carousel-item .carousel-logo {
        top: 5em;
    }

.navbar-menu {
    background: #b18857;
}

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    top: -2.25rem;
    -webkit-transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
    -o-transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
    transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
}

.styled-input {
    position: relative;
}

    .styled-input label {
        padding-top: 1.5rem;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
        -o-transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
        transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
        pointer-events: none;
    }

    .styled-input.wide {
        width: 100%;
    }

input, textarea {
    padding: 1rem 1rem;
    border: 0;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    width: 100%;
    background: none;
}

    input ~ span, textarea ~ span {
        display: block;
        width: 0;
        height: 3px;
        position: absolute;
        bottom: 0;
        left: 0;
        -webkit-transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
        -o-transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
        transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
    }

    input:focus, textarea:focus {
        outline: 0;
    }

        input:focus ~ span, textarea:focus ~ span {
            width: 100%;
            -webkit-transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
            -o-transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
            transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
        }

:focus {
    outline: none;
}

.effect-20 {
    border: 1px solid #ccc;
    padding: 7px 14px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    background: transparent;
}

    .effect-20 ~ .focus-border:before,
    .effect-20 ~ .focus-border:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #3399FF;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

    .effect-20 ~ .focus-border:after {
        top: auto;
        bottom: 0;
        left: auto;
        right: 0;
    }

    .effect-20 ~ .focus-border i:before,
    .effect-20 ~ .focus-border i:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 0;
        background-color: #3399FF;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }

    .effect-20 ~ .focus-border i:after {
        left: auto;
        right: 0;
        top: auto;
        bottom: 0;
    }

    .effect-20:focus ~ .focus-border:before,
    .effect-20:focus ~ .focus-border:after,
    .has-content.effect-20 ~ .focus-border:before,
    .has-content.effect-20 ~ .focus-border:after {
        width: 100%;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

    .effect-20:focus ~ .focus-border i:before,
    .effect-20:focus ~ .focus-border i:after,
    .has-content.effect-20 ~ .focus-border i:before,
    .has-content.effect-20 ~ .focus-border i:after {
        height: 100%;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }

    .effect-20 ~ label {
        position: absolute;
        left: 14px;
        width: 100%;
        top: 10px;
        color: #aaa;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        z-index: -1;
        letter-spacing: 0.5px;
    }

    .effect-20:focus ~ label, .has-content.effect-20 ~ label {
        top: -18px;
        left: 0;
        font-size: 12px;
        color: #3399FF;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

.opacity_testimonials, .opacity_exhibits {
    background: black;
    opacity: 0.9;
}

    .opacity_testimonials .background_testimonials, .opacity_testimonials .background_exhibits, .opacity_exhibits .background_testimonials, .opacity_exhibits .background_exhibits {
        opacity: 0.2;
    }

    .opacity_testimonials .carousel .carousel-inner .carousel-item, .opacity_exhibits .carousel .carousel-inner .carousel-item {
        background: none;
        font-size: 20pt;
    }

        .opacity_testimonials .carousel .carousel-inner .carousel-item .carousel_title, .opacity_exhibits .carousel .carousel-inner .carousel-item .carousel_title {
            font-family: PT_Serif-Web-Bold;
            white-space: nowrap;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            cursor: pointer;
        }

        .opacity_testimonials .carousel .carousel-inner .carousel-item .carousel_content, .opacity_exhibits .carousel .carousel-inner .carousel-item .carousel_content {
            font-family: PT_Serif-Web-Regular;
        }

        .opacity_testimonials .carousel .carousel-inner .carousel-item .btn_read_more, .opacity_exhibits .carousel .carousel-inner .carousel-item .btn_read_more {
            font-family: helveticaneuemedium;
        }

.btn-send {
    border: none;
}

.font_see_more {
    font-size: 10pt;
}

.btn_font_reply {
    font-size: 14pt;
}

.opacity_exhibits .carousel .carousel-inner .carousel-item {
    padding: 3rem 15rem;
}

.needs-validation {
    font-size: 20pt;
}

figure figcaption {
    font-size: 10pt !important;
}

.tabs-about {
    background: #e5e1d1;
}

    .tabs-about .nav-tabs .nav-item {
        font-family: BrandonGrotesque-Bold;
        background: #edeadf;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
    }

        .tabs-about .nav-tabs .nav-item.active {
            background: #faf9f6;
        }

.tab-content {
    font-family: PT_Serif-Web-Regular;
    font-size: 1.55em;
}

.map {
    font-family: PT_Serif-Web-Regular;
}

    .map .map_content {
        background: black;
        opacity: 0.8;
        font-size: 20pt;
        position: absolute;
    }

    .map .map_location {
        height: 500px;
    }

        .map .map_location iframe {
            border: 0;
        }

.footer {
    font-family: PT_Serif-Web-Regular;
    background: #e5e1d1;
    font-size: 20pt;
}

.copyright {
    font-family: PT_Serif-Web-Regular;
    background: #323232;
    font-size: 12pt;
}

@media (max-width: 1440px) {
    .tabs-about .nav-tabs .nav-item {
        font-size: 1.75rem;
    }

    .opacity_exhibits .carousel .carousel-inner .carousel-item {
        padding: 5rem;
    }
}

@media (max-width: 968px) {
    .tabs-about .nav-tabs .nav-item {
        font-size: 1rem;
    }
}

@media (max-width: 1200px) {
    .explore__content .slider {
        margin-right: 0;
    }
}

.event--right__boximg {
    padding-left: 0px;
    padding-right: 0px;
}

    .event--right__boximg img, .museum--right__boximg img {
        width: 100%;
        height: 115px;
    }

/*THEM*/
.post--left img {
    width: 100%;
    height: 256px;
}

.post--left__content1 p:first-child {
    font-size: 1.67em;
    font-family: PT_Serif-Web-Bold;
}

.post--left__content1 p:last-child {
    font-size: 4.5em;
    font-family: BrandonGrotesque-Black;
    color: #f13c31;
    line-height: 47px;
}

.post--left__content2 p:first-child {
    font-size: 1.67em;
    font-family: PT_Serif-Web-Bold;
    cursor: pointer;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post--left__content2 p:nth-child(2) {
    cursor: pointer;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1em;
    font-family: PT_Serif-Web-Regular;
    color: #9f9f9f;
}

.post--left__content2 button {
    font-size: 0.6em;
    border-radius: 0px;
    color: #989898;
    border-color: #989898;
    padding: 4px 14px;
    font-weight: bold;
}

.museum--right__boxcontent--bottom button {
    font-size: 0.6em;
    border-radius: 0px;
    color: #989898;
    border-color: #989898;
    padding: 4px 14px;
    font-weight: bold;
}

.museum--right__boximg p:nth-child(2) {
    font-size: 1em;
    font-family: PT_Serif-Web-Bold;
}

.museum--right__boximg p:nth-child(3) {
    font-size: 0.8em;
    color: #9f9f9f;
    font-family: PT_Serif-Web-Regular;
}

.timeline__calendar .museum--right__boxcontent--top p:first-child {
    font-size: 1.67em;
    font-family: PT_Serif-Web-Bold;
    line-height: 25px;
    margin-bottom: 0px;
    cursor: pointer;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
